{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static',filename='img/about-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Ashutosh Krishna</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am Ashutosh Krishna. I am pursuiung Bachelor of Technology in Information Technology from Netaji Subhash Engineering College, Kolkata.</p>
        <p>This is my first blog where I would post my works and you can check them out right here in the posts section.</p>
        <p>You can reach out and know more about me at my <a href="https://ashutoshkrris.github.io" target="_blank" style="text-decoration: skyblue; font-weight: bold;">personal website</a>. Thanks to <a href="https://codewithharry.com" target="_blank" style="text-decoration: skyblue; font-weight: bold;">CodeWithHarry</a>. Do check out his <a href="https://www.youtube.com/channel/UCeVMnSShP_Iviwkknt83cww" target="_blank" style="text-decoration: skyblue; font-weight: bold;">Youtube Channel</a>.</p>
      </div>
    </div>
  </div>

  {% endblock %}